* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: Avenir, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */
div {
  /*border: 1px solid red;*/
}

/* ------------------------------------------------------------------
HEADER
------------------------------------------------------------------ */
header {
  text-transform: uppercase;
  padding: 0 30px;
}
.logo {
  float: left;
}
.menu-toggle {
  cursor: pointer;
  float: right;
  font-size: 26px;
  margin-top: 25px;
  margin-right: 15px;  
  /*display: none;*/
}
.lang {
  float: right;
  font-size: 14px;
  margin-top: 19px;
  /*display: none;*/
}
.lang > p {
  float: right;
  /*cursor: pointer;*/
  font-weight: 900;
}
.lang span {
  margin: 0 4px;
  font-weight: 400;
}
.nav {
  // display: none;
  float: left;
  clear: left;
  font-size: 14px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.nav li {
  margin-bottom: 10px;
}
.nav li:first-child {
  margin-top: 10px;
}
.fa-bars {
  /*display: none;*/
}
.fa-times {
  display: none;
}

@media (min-width: 700px) {
  .fa-bars {
    display: none;
  }
  .nav {
    display: block;
    border: none;
    width: 100%;
    margin-top: -64px;
    padding-left: 94px;
  }
  .nav ul {
    text-align: center;
  }
  .nav li {
    display: inline-block;
    margin: 0 2%;
  }
}
@media (min-width: 900px) {
  .nav {
    padding-left: 0;
  }
}

/* ------------------------------------------------------------------
CSS MENU TOGGLE
------------------------------------------------------------------ */


/* ------------------------------------------------------------------
SLIDESHOW
------------------------------------------------------------------ */
section {
  padding: 0 10px;
}
.slideshow {
  max-width: 900px;
  margin: 0 auto;
}
.slide img {
  width: 100%;
  height: auto;
}
.slide p {
  margin-top: -2px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.artist {
  font-size: 18px;
  font-weight: 900;
}
.title {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}
.dates {
  font-size: 16px;
  font-weight: 500;
}
.city {
  font-size: 16px;
  font-weight: 800;
}
.dots {
  float: right;
  margin-right: 4px;
  margin-top: -88px;
  font-size: 12px;
}
.dots i {
  cursor: pointer;
}


