html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */
div {
  border: 1px solid red;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  text-transform: uppercase;
}
.logo {
  width: 15%;
  float: left;
  padding-left: 40px;
}
.logo > h1 {
}

/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------ */
.nav {
  width: 70%;
  float: left;
  padding-top: 20px;
  display: none;
  font-size: 14px;
}
.nav ul {
  text-align: center;
}
.nav li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  font-weight: 600;
}
.nav li:last-child {
  margin-right: 0;
}
.burger {
  float: right;
  padding: 32px 15px;
  display: none;
}
.burger > div {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 3px 0;
}

.lang {
  width: 10%;
  float: right;
  padding-right: 40px;
  padding-top: 27px;
  font-size: 12px;
  display: none;
}
.lang > p {
  float: right;
  font-weight: 900;
}
.lang span {
  margin: 0 2px;
  font-weight: 200;
}