* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: Avenir, sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
p{
  margin: 0;
}

/* ------------------------------------------------------------------
HEADER
------------------------------------------------------------------ */
header {
  text-transform: uppercase;
  padding: 0 10px;
  height: 88px;
  background-color: white;
  max-width: 1010px;
  margin: 0 auto;
}

.logo {
  float: left;
}
.logo h1 {
  font-weight: 800;
}

.lang {
  float: right;
  font-size: 12px;
  margin-top: 35px;
}

.lang > p {
  float: right;
  font-weight: 700;
  letter-spacing: normal;
}

.lang span {
  margin: 0 4px;
  font-weight: 400;
}

.nav {
  position: absolute;
  display: none;
  top: 60px;
  left: 0;
  background-color: white;
  width: 100%;
  float: left;
  clear: left;
  font-size: 14px;
  padding-left: 30px;
}

.nav li {
  margin-bottom: 10px;
  width: 143px;
  font-weight: 400;
}

.nav li:first-child {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

.nav li:last-child {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.fa-bars {
  display: block;
}
.fa-times {
  display: none;
}

/* ------------------------------------------------------------------
CSS MENU TOGGLE
------------------------------------------------------------------ */
#toggle {
  display: none;
}
.toggle-icon { 
  cursor: pointer;
  user-select: none;
  float: right;
  font-size: 26px;
  margin-top: 28px;
  margin-right: 15px;
}
#toggle:checked ~ .nav {
  display: block;
}
#toggle:checked ~ .toggle-icon > .fa-bars {
  display: none;
}
#toggle:checked ~ .toggle-icon > .fa-times {
  display: block;
}

@media (min-width: 700px) {
  .toggle-icon {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    background-color: transparent;
    margin-top: -54px;
    padding-left: 94px;
  }

  .nav ul {
    text-align: center;
  }

  .nav li {
    display: inline-block;
    margin: 0 5px;
    width: auto;
    border: none;
  }
  .nav li:first-child {
    border: none;
    padding-top: 0;
    margin-top: 0;
  }

  .nav li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .nav {
    /*padding-left: 0;*/
  }
}

/* ------------------------------------------------------------------
CONTENT SECTION
------------------------------------------------------------------ */
section {
  padding: 0 10px;
}
section > aside > nav {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
section > aside > nav > a:active, .active {
  font-style: italic;
  font-weight: 700;
}
  section > article img {
  width: 100%;
  height: auto;
  }
@media (min-width: 700px) {
  section {
    max-width: 1010px;
    margin: 0 auto
  }
  section > aside {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    padding-top: 20px;
  }
  section > article {
    float: right;
    width: calc(100% - 210px);
    max-width: 800px;
  }
}
.name {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
}
.name > span {
  text-transform: uppercase;
}
.title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
.dates {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.city {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
}

/* ------------------------------------------------------------------
SLIDESHOW
------------------------------------------------------------------ */
.dots {
  float: right;
  position: relative;
  right: 5px;
  font-size: 11px;
  letter-spacing: 0px;
  z-index: 100;
}
.artist .dots {
  top: -45px;
}
.exhibit .dots {
  top: -23px;
}
/* ------------------------------------------------------------------
EXHIBIT PAGE
------------------------------------------------------------------ */
/*.exhibit nav {
  float: right;
  text-align: right;
  margin-top: -69px;
}*/
/* ------------------------------------------------------------------
ARTIST PAGE
------------------------------------------------------------------ */
/* ------------------------------------------------------------------
ARTIST BIO
------------------------------------------------------------------ */
.bio > article p {
  margin-bottom: 5px;
  letter-spacing: normal;
}
.bio h4 {
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
}
.bio-item {
 letter-spacing: normal;
}
.bio-item > div {
  /*float: left;*/
}
.bio-item > ul {
  /*float: right;*/
  margin-left: 45px;
  margin-top: -22px;
}






