* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: Avenir, sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
p{
  margin: 0;
}

/* ------------------------------------------------------------------
HEADER
------------------------------------------------------------------ */
header {
  text-transform: uppercase;
  padding: 0 10px;
  height: 88px;
  background-color: white;
  max-width: 1010px;
  margin: 0 auto;
}
.logo {
  float: left;
}
.logo h1 {
  font-weight: 800;
}
.lang {
  float: right;
  font-size: 12px;
  margin-top: 35px;
}
.lang > p {
  float: right;
  font-weight: 700;
  letter-spacing: normal;
}
.lang span {
  margin: 0 4px;
  font-weight: 400;
}
.nav {
  position: absolute;
  display: none;
  top: 60px;
  left: 0;
  background-color: white;
  width: 100%;
  float: left;
  clear: left;
  font-size: 14px;
  padding-left: 10px;
}

.nav li {
  margin-bottom: 10px;
  width: 156px;
  font-weight: 500;
}

.nav li:first-child {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

.nav li:last-child {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.fa-bars {
  display: block;
}
.fa-times {
  display: none;
}

/* ------------------------------------------------------------------
CSS MENU TOGGLE
------------------------------------------------------------------ */
#toggle {
  display: none;
}
.toggle-icon { 
  cursor: pointer;
  user-select: none;
  float: right;
  font-size: 26px;
  margin-top: 28px;
  margin-right: 15px;
}
#toggle:checked ~ .nav {
  display: block;
}
#toggle:checked ~ .toggle-icon > .fa-bars {
  display: none;
}
#toggle:checked ~ .toggle-icon > .fa-times {
  display: block;
}

@media (min-width: 700px) {
  .toggle-icon {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    background-color: transparent;
    margin-top: -54px;
    padding-left: 94px;
  }

  .nav ul {
    text-align: center;
  }

  .nav li {
    display: inline-block;
    margin: 0 5px;
    width: auto;
    border: none;
  }
  .nav li:first-child {
    border: none;
    padding-top: 0;
    margin-top: 0;
  }

  .nav li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .nav {
    /*padding-left: 0;*/
  }
}

/* ------------------------------------------------------------------
CONTENT SECTION
------------------------------------------------------------------ */
section {
  padding: 0 10px;
}
section > aside > nav {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
section > aside > nav > a:target, .active {
  font-style: italic;
  font-weight: 700;
}
section > article img {
width: 100%;
height: auto;
}
@media (min-width: 700px) {
  section {
    max-width: 1010px;
    margin: 0 auto
  }
  section > aside {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    padding-top: 20px;
  }
  section > article {
    float: right;
    width: calc(100% - 210px);
    max-width: 800px;
  }
}
.name {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: -7px;
}
.name > span {
  text-transform: uppercase;
}
.title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  margin-bottom: -5px;
}
.dates {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.city {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
}

/* ------------------------------------------------------------------
SLIDESHOW
------------------------------------------------------------------ */
.home .fa-angle-left {
  position: relative;
  top: 0;
  left: 0;
}
.home .fa-angle-right {
  position: relative;
  top: 0;
  left: 0;
}
/* ------------------------------------------------------------------
HOME PAGE
------------------------------------------------------------------ */
.home article {
width: 100%;
max-width: 900px;
margin: 0 auto;
float: none;
}/*
.home .caption {
  position: relative;
  top: -116px;
  left: 10px;
}*/
@media (min-width: 800px){
.home .caption {
  position: relative;
  top: -116px;
  left: 10px;
}
}
/* ------------------------------------------------------------------
ARTISTS LIST
------------------------------------------------------------------ */
.artists aside {
  display: none;
}
.artists ul {
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
}
.artists ul li, p {
  margin-bottom: 5px;
}
.artists .avail {
  margin-top: 10px;
}
.artists .avail li {
  font-size: 16px;
}
@media (max-width: 800px){
  .artists article {
    float: none;
    width: auto;
    max-width: none;
  }
}
@media (min-width: 450px) {
  .artists ul {
    float: left;
    margin-right: 20px;
  }

}
@media (min-width: 800px) {
.artists aside {
  display: block;
}
.artists  {
  margin-top: 20px;
}
.artists ul {
  float: left;
  margin-right: 20px;
}
.artists article {
  padding-left: 20px;
}
.artists .avail {
  padding-left: 20px;
}
.artists .avail li {
  font-size: 16px;
}
}
/* ------------------------------------------------------------------
EXHIBITIONS PAGE
------------------------------------------------------------------ */
.exhibitions article p {
  margin-top: -5px;
}
.exhibitions span {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 5px;
}
.exhibitions .city {
  font-weight: 500;
}
.exhibitions .title {
  font-weight: 700;
}
.exhibitions > article > div {
  margin-bottom: 15px;
}
.exhibitions img {
  max-width: 600px;
}
.past img , .news img{
  max-width: 300px;
  float: left;
  margin-right: 10px;
}
.past .item , .news .item {
  display: block;
  clear: both;
  margin-bottom: 20px;
  height: 200px;
}
/* ------------------------------------------------------------------
EXHIBIT PAGE
------------------------------------------------------------------ */
/*.exhibit nav {
  float: right;
  text-align: right;
  margin-top: -69px;
}*/
/* ------------------------------------------------------------------
ARTIST PAGE
------------------------------------------------------------------ */
/* ------------------------------------------------------------------
ARTIST BIO
------------------------------------------------------------------ */
.bio > article p {
  margin-bottom: 5px;
  letter-spacing: normal;
}
.bio h4 {
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
}
.bio-item {
 letter-spacing: normal;
}
.bio-item > div {
  /*float: left;*/
}
.bio-item > ul {
  /*float: right;*/
  margin-left: 45px;
  margin-top: -22px;
}
/* ------------------------------------------------------------------
CONTACT
------------------------------------------------------------------ */
.contact article {
  width: 50%;
}
.contact article:first-child > div {
  float: right;
}
.contact article:last-child > div {
  float: left;
}





